.calculactor-wrapper {
    display:flex;
    flex-direction: column;
}

.calculactor-wrapper > * {
    margin-bottom: 1em;
}

.form-stage {
    margin-top: 1em;
    width: 100%;
    padding: 1em;
    background: #efffff;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-stage h3 {
    margin:0;
    margin-bottom: .5em;
}

.resource-form-mini {
    display: flex;
}

.resource-form-mini > * {
    flex: 1;
    margin-right: 1em;
}