nnpm startbody {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8eef4;
}

body {
  color: #393939;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background: #F7F7F8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  display: inline-grid;
  padding: 2px 0px;
}

ul .items {
  padding: 0px 15px;
}

ul h1 {
  margin-top: 0px;
  text-transform: uppercase;
  text-align: center;
}

.wrapper-content ul {
  font-size: 12px;
}

.button.delete {
  margin: 5px 5px 5px 40px !important;
}
.button {
  font-size: 12px !important;
  margin-right: 5px !important;
}

.header-icon {
  float: left;
  margin-right: 24px;
}

.header {
  padding: 10px;
  margin-left: 30px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.MuiRadio-colorSecondary-774.MuiRadio-checked-771 {
  color: #3f51b6;
}

.button.add {
  float: right;
  margin: 10px;
}
#name-view-stage h1 {
  margin-bottom: 40px;
}
#module-create-form {
  max-height: 450px;
}

.dialog-header {
  font-size: 20px;
  font-weight: 600;
}

.slide h1 {
  text-transform: uppercase;
  font-size: 20px;
}

.MuiDialog-paperWidthSm-18 {
  min-width: 360px;
  min-height: 300px;
}

.view-elements-button {
  margin: 5px !important;
  border: none !important;
}

.elements {
  text-transform: uppercase;
}

.form-stage .icon {
  float: right;
}

.view-icon {
padding-top: 25px;
}

/* .MuiButton-sizeSmall-792{
  border: none !important;
}   */

.MuiDialog-paperWidthSm-18 {
  min-width: 360px;
  min-height: 450px;
}

.dialog.delete .MuiDialog-paperWidthSm-18{
  min-height: 220px !important;
}
.carousel-container {
  margin-top: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  background: #ffffff;
}
.carousel-container.carousel-modules {
  border-bottom: solid 2px #9988ff;
}
.carousel-container.carousel-stage {
  border-bottom: solid 2px #66aaee;
}
.carousel-container.carousel-line {
  border-bottom: solid 2px #aaddbb;
}
.carousel-container.carousel-default-modules,
.carousel-container.carousel-default-stage,
.carousel-container.carousel-default-line {
  border-bottom: solid 2px #ff55bb;
}
.carousel-div {
  background: #F7F7F8;
  padding: 30px 15px 15px 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.carousel-container .carousel-item h1{
  font-size: 12px !important;
  text-align: center;
}
.react-multi-carousel-track {
  text-align: center;
}
.carousel-item ul {
  display: table-row;
  text-align: center;
}
.carousel-item ul li {
  display: table-cell;
  height: 40px;
  margin: 10px;
  vertical-align: top;
  width: 290px;
}
.warning-comment {
  color: #f50057;
}
#dialog-delete {
  text-align: center;
}

.stats-div {
  background: #F7F7F8;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;

}

.react-bootstrap-table {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
 
}
.stats-header {
  font-size: 18.5px;
  font-weight: 600;
  margin-bottom: 30px;
}

.stats-header-icon {
  margin-bottom: 50px;
}

td,
th {
  padding: 10px 15px 10px 15px;
}

th {
  background: #ddffee;
}

/* tr {
  background: #ddffee;
} */
tr:nth-child(even) {
  background-color: #ddffee;
}

.last-row {
  font-weight: 600;
}

.MuiInputBase-input-55{
  margin-top: 15px !important;
  font-weight: 500 !important;
}
.stat-stage-header {
  font-weight: 600;
  margin-right: 10px;
  line-height: 20px;

}
.MuiInputLabel-formControl-19 {
  top: 5px !important;
}
.stage-name {
  text-transform: uppercase;
}
.stage-header {
  font-size: 20px;
  font-weight: 600;
}
.stage-desc li{
  margin: 5px 0px;
}