.register-form > * {
    margin-bottom: .5em !important;
}


.register__button {
    margin-top: 1em !important;
}

.error-box {
    padding: 1em;
    box-sizing: border-box;
    background: #f50057 !important;
    color: white;
}